<form [formGroup]="form">
  <ul class="nav nav-tabs float-end">
    <li class="nav-item">
      <input type="text"
             class="form-control"
             formControlName="selectedDate"
             placeholder="Select date"
             bsDatepicker>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle"
         data-bs-toggle="dropdown" href="#"
         role="button"
         aria-haspopup="true"
         aria-expanded="false">Years to show ({{ selectedYears }})</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" *ngFor="let year of availableYears" (click)="onYearsChanged(year)">{{ year }}</a>
      </div>
    </li>
  </ul>

  <div class="container">
    <div class="d-inline">
      <h2 class="text-center dim">Weather for last {{ selectedYears }} years
        <sync-button (onSync)="reloadDataOnSync($event)"></sync-button>
      </h2>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <ngx-chartjs
              [class]="'bg-image'"
              [data]="chartConfig.data"
              [options]="chartConfig.options"
              [type]="chartConfig.type"
              [redraw]="true">
            </ngx-chartjs>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
