<ul class="nav nav-tabs float-end">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle"
       data-bs-toggle="dropdown" href="#"
       role="button"
       aria-haspopup="true"
       aria-expanded="false">{{ monthName }}</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" *ngFor="let month of monthItems" (click)="onMonthChanged(month)">{{ this.month.name }}</a>
    </div>
  </li>
</ul>

<div class="container">
  <h2 class="text-center dim">Weather in {{ monthName }} for last {{ yearsRange }} years</h2>
  <div class="row" *ngIf="!!monthName">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <ngx-chartjs
            [class]="'bg-image'"
            [data]="chartConfig.data"
            [options]="chartConfig.options"
            [type]="chartConfig.type"
            [redraw]="true">
          </ngx-chartjs>
        </div>
      </div>
    </div>
  </div>
</div>
